<router-outlet />

<mat-card>
    <mat-card-header>
        <h2>Signal Viewchild</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput #name >
        </mat-form-field>
        <app-child></app-child>
        <app-child></app-child>
        <app-child></app-child>
    </mat-card-content>
</mat-card>



<mat-card>
    <mat-card-header>
        <h2>Signal Conent Child</h2>
    </mat-card-header>
    <mat-card-content>
        <app-tempchild>
            <h3 #temphead>Temp Child 1</h3>
            <h3 #temphead>Temp Child 2</h3>
        </app-tempchild>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <h2>Signal Model</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fisrt Name</mat-label>
            <input matInput [(ngModel)]="userobj().firstname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="userobj().lastname">
        </mat-form-field>
       <h2>The user name is : {{username()}}</h2>
       <h2>{{userobj() | json}}</h2>
    </mat-card-content>
</mat-card>
